@using System.Text.Json
@using System.Net.Http.Headers
@using System.Text
@using System.Text.RegularExpressions
@using System.Net
@using WebApis.Net6
@using WebApis.Net6.Spotify
@inject IWApiGlobals wApiGlobals
@inject IWApiSpotifyGlobals wApiSpotifyGlobals
@inject ISpotifyAuthentication spotifyAuthentication

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MusicClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick=GetSpotifyToken>
                    <span class="oi oi-plus" aria-hidden="true"></span> Spotify Login
                </NavLink>
            </li>
            @if(!string.IsNullOrWhiteSpace(wApiSpotifyGlobals.SpotifyAccessToken?.AccessToken))
            {
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="()=>expandSqlServer = !expandSqlServer" href="#">
                    <span class="oi oi-book" aria-hidden="true"></span>SQL Server
                </NavLink>
                @if (expandSqlServer)
                {
                        <NavLink class="nav-link" href="/spotify/loaders/loadplaylists">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Playlists
                        </NavLink>
                        <NavLink class="nav-link" href="/spotify/loaders/loadtracks">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Tracks
                        </NavLink>
                        <NavLink class="nav-link" href="/spotify/loaders/loadartists">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Artists
                        </NavLink>
                        <NavLink class="nav-link" href="/spotify/loaders/loadalbums">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Albums
                        </NavLink>
                        <NavLink class="nav-link" href="/spotify/loaders/loadplaylisttracks">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Playlist Tracks
                        </NavLink>
                        <NavLink class="nav-link" href="/spotify/loaders/loadtrackalbums">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Track Albums
                        </NavLink>
                        <NavLink class="nav-link" href="/spotify/loaders/loadtrackartists">
                            <span class="oi oi-plus" aria-hidden="true"></span> Load Track Artists
                        </NavLink>
                }
            </li>
            }
            @if(!string.IsNullOrWhiteSpace(wApiSpotifyGlobals.SpotifyAccessToken?.AccessToken))
            {
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="()=>expandSqlServerQueries = !expandSqlServerQueries" href="#">
                    <span class="oi oi-book" aria-hidden="true"></span>SQLSrv Queries
                </NavLink>
                @if (expandSqlServerQueries)
                {
                    <NavLink class="nav-link" href="/spotify/queries/query1">
                        <span class="oi oi-plus" aria-hidden="true"></span> Query1
                    </NavLink>
                }
            </li>
            }
            @if(!string.IsNullOrWhiteSpace(wApiSpotifyGlobals.SpotifyAccessToken?.AccessToken))
            {
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="()=>expandSpotifyPages = !expandSpotifyPages" href="#">
                    <span class="oi oi-book" aria-hidden="true"></span>Spotify Pages
                </NavLink>
                @if (expandSpotifyPages)
                {
                    <NavLink class="nav-link" href="/spotify/createplaylistsbytrackreleasedate">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create RelDatePlylsts
                    </NavLink>
                    <NavLink class="nav-link" href="/spotify/testing/testingwapialbum">
                        <span class="oi oi-plus" aria-hidden="true"></span> Testing WApiAlbum
                    </NavLink>
                    <NavLink class="nav-link" href="/spotify/testing/testingwapiartist">
                        <span class="oi oi-plus" aria-hidden="true"></span> Testing WApiArtist
                    </NavLink>
                }
            </li>
            }
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandSqlServer;
    private bool expandSqlServerQueries;
    private bool expandSpotifyPages;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void GetSpotifyToken()
    {
        spotifyAuthentication.GetSpotifyApiCode();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await spotifyAuthentication.GetSpotifyAccessToken();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
